{% extends "base.html" %}
{% block content %}
<div>
  <form id='setting' name='setting'>
  {{ macros.setting_select_empty('default_username', '기본 계정', desc='기본 다운로드 계정이름. 계정설정의 Username', col='6') }}
  {{ macros.setting_input_text('default_folder_id', '기본 Folder ID', value=arg['default_folder_id'],desc='타플러그인에서 요청시 포함. 생략시 계정의 기본 값 사용') }}
  {{ macros.setting_button([['global_setting_save_btn', '설정 저장']]) }}
  </form>
  </div><!--tab-content-->
</div> <!--전체-->


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var default_username = "{{arg['default_username']}}"
var current_data;


$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/accounts',
    type: "POST", 
    cache: false,
    data:{},
    dataType: "json",
    success: function (data) {
      current_data = data;
      make_select(data);
    }
  });
});


function make_select(data) {
  //console.log(data)
  str = '<select id="default_username" name="default_username" class="form-control form-control-sm">';
  str += '<option value="all">================</option>';
  for(var i in data) {
    if (data[i].username == default_username) {
      str += '<option value="' + data[i].username + '" selected>' + data[i].username + '</option>';
    } else {
      str += '<option value="' + data[i].username + '">' + data[i].username + '</option>';
    }
  }
  str += '</select>'
  document.getElementById("default_username_div").innerHTML = str;
}
</script>    
{% endblock %}