{% extends "base.html" %}
{% block content %}
<div>
  {{ macros.setting_input_text_and_buttons('apikey', 'API Key', [['apikey_btn', '저장 & 계정확인']], value=arg['apikey'], desc='https://offcloud.com/#/account') }}
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1, macros.m_strong('ID')) }}
  {{ macros.m_col(2, macros.m_strong('Time')) }}
  {{ macros.m_col(1, macros.m_strong('Username')) }}
  {{ macros.m_col(1, macros.m_strong('Type')) }}
  {{ macros.m_col(3, macros.m_strong('Account / Option ID')) }}
  {{ macros.m_col(4, macros.m_strong('Path / Folder ID')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="account_list_div"></div>
</div> <!--전체-->


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data;


$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/accounts',
    type: "POST", 
    cache: false,
    data:{},
    dataType: "json",
    success: function (data) {
      current_data = data;
      make_account_list(data);
    }
  });
});


$("body").on('click', '#apikey_btn', function(e){
  e.preventDefault();
  apikey = document.getElementById("apikey").value;
  if (apikey == '') {
    $.notify('<strong>APIKEY를 입력하세요</strong>', {
      type: 'warning'
    });
    return;
  }
  $.ajax({
      url: '/'+package_name+'/ajax/apikey',
      type: "POST", 
      cache: false,
      data:{apikey:apikey},
      dataType: "json",
      success: function (data) {
        current_data = data;
        make_account_list(data);
        tmp = data.length
        type = (tmp>0)? 'success' : 'warning'
        $.notify('<strong>총 '+data.length+'개의 정보 저장</strong>', {
          type: type
        });
        /*
        document.getElementById("modal_title").innerHTML = "리모트 계정 정보";
        document.getElementById("modal_body").innerHTML = "<pre>"+JSON.stringify(data, null, 2) + "</pre>";
        $("#large_modal").modal();
        */
      }
    });
});

function make_account_list(data) {
  str = ''
  for (i in data) {
    //console.log(data[i]);
    str += m_row_start();
    str += m_col(1, data[i].id);
    str += m_col(2, data[i].created_time);
    str += m_col(1, data[i].username);
    str += m_col(1, data[i].remote_type);
    str += m_col(3, data[i].account_id);
    //str += m_col(3, data[i].option_id);
    str += m_col(4, data[i].path);
    str += m_row_end();
    if (i != data.length -1) str += m_hr();
  }
  document.getElementById("account_list_div").innerHTML = str;
}


</script>    
{% endblock %}