alembic==1.0.8
APScheduler==3.6.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
enum34==1.1.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-SocketIO==3.3.2
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
futures==3.2.0
gevent==1.4.0
gevent-websocket==0.10.1
google-api-python-client==1.7.8
greenlet==0.4.15
guessit==3.0.4
guppy==0.1.10
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.3
Mako==1.0.8
Markdown==3.1
MarkupSafe==1.1.1
oauth2client==4.1.3
Pillow==6.0.0
PlexAPI==3.1.0
psutil==5.6.1
pycparser==2.19
pycrypto==2.6.1
python-dateutil==2.8.0
python-editor==1.0.4
python-engineio==3.5.1
python-socketio==3.1.2
pytz==2019.1
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.2
sqlitedict==1.6.0
synolopy==0.1.2
telepot==12.7
tqdm==4.31.1
transmissionrpc==0.11
tzlocal==1.5.1
urllib3==1.24.1
websocket-client==0.56.0
Werkzeug==0.15.2
youtube-dl==2019.5.11
selenium>=3.141.0