alembic
APScheduler
certifi
cffi
chardet
Click
enum34
Flask
Flask-Login
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
funcsigs
futures
gevent
gevent-websocket
google-api-python-client
greenlet
guessit
guppy
idna
itsdangerous
Jinja2
lxml
Mako
Markdown
MarkupSafe
oauth2client
Pillow
PlexAPI
psutil
pycparser
pycrypto
python-dateutil
python-editor
python-engineio
python-socketio
pytz
requests
six
SQLAlchemy
sqlitedict
synolopy
telepot
tqdm
transmissionrpc
tzlocal
urllib3
websocket-client
Werkzeug
youtube-dl
