{% extends "base.html" %}
{% block content %}

<form id="form_search" class="form-inline" style="text-align:left">
  <div class="container-fluid">
    <div class="row show-grid">
      <div class="col-md-12 form-inline">
        <div class="col-md-12 form-inline " style="align-items:left; text-align:left;">
          <div class="col-md-10" style="align-items:left; text-align:left;">
            <input id="search_word" name="search_word" class="form-control form-control-sm w-100" type="text" placeholder="검색어" aria-label="Search">
          </div>
          <div class="col-md-2" style="align-items:left; text-align:left;">
            <button id="search" class="btn btn-sm btn-outline-success">검색</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div id='page1'></div>

{{ macros.m_hr_head_top() }}
{{ macros.m_row_start('0') }}
{{ macros.m_col(1,  macros.m_strong('NO')) }}
{{ macros.m_col(1,  macros.m_strong('ID')) }}
{{ macros.m_col(2,  macros.m_strong('Unique')) }}
{{ macros.m_col(1,  macros.m_strong('Name')) }}
{{ macros.m_col(1,  macros.m_strong('Count')) }}
{{ macros.m_col(2,  macros.m_strong('Update')) }}
{{ macros.m_col(2,  macros.m_strong('Created')) }}
{{ macros.m_col(1,  macros.m_strong('Type')) }}
{{ macros.m_col(1,  macros.m_strong('Sched C')) }}
{{ macros.m_col(1,  macros.m_strong('Action')) }}
{{ macros.m_row_end() }}
{{ macros.m_hr_head_bottom() }}
<div id="list_div"></div>
<div id='page2'></div>

<script type="text/javascript">
var package_name = 'statistics';
var current_data = null;

$(document).ready(function(){
  request_search('1');
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1');
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  request_search($(this).data('page'));
});

$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  id = $(this).data('id')
  for(i in current_data.list) {
    if ( id == current_data.list[i].id) {
      m_modal(current_data.list[i].data)
      break;
    }
  }
});

function request_search(page) {
  var formData = get_formdata('#form_search')
  formData += '&page=' + page;
  $.ajax({
    url: '/' + package_name + '/ajax/db_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      current_data = data;
      window.scrollTo(0,0);
      make_list(data.list)
      make_page_html(data.paging)
    }
  });
}  

function make_list(data) {
  str = ''
  for (i in data) {
    str += m_row_start();
    str += m_col(1, parseInt(i)+1);
    str += m_col(1, data[i].id);
    str += m_col(2, data[i].ip);
    str += m_col(1, data[i].user);
    str += m_col(1, data[i].count);    
    str += m_col(2, data[i].update_time);
    str += m_col(1, data[i].created_time);
    str += m_col(1, data[i].running_type);
    str += m_col(1, data[i].scheduler_count);
    tmp = m_button('json_btn', 'JSON', [{'key':'id', 'value':data[i].id}]);
    tmp = m_button_group(tmp)
    str += m_col(1, tmp);
    str += m_row_end();
    if (i != data.length -1) str += m_hr();
  }
  document.getElementById("list_div").innerHTML = str;
}

</script>    
{% endblock %}