{% extends "base.html" %}
{% block content %}

<div>
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('일반', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- 일반 -->
    {{ macros.m_tab_content_start('일반', true) }}
      {{ macros.setting_global_scheduler_button(arg['is_include'], arg['is_running']) }}
      <form id='setting' name='setting'>
        {{ macros.setting_input_int('interval', '파일 처리 실행 주기', value=arg['interval'], min='1', placeholder='2', desc='minute 단위') }}
        {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
        {{ macros.setting_button([['global_setting_save_btn', '저장']]) }}
      </form>
        {{ macros.m_hr() }}
        {{ macros.setting_button([['make_channel_json_btn', 'channel.json 생성'], ['delete_channel_list_btn', 'channel.json -> DB']], left='채널' ) }}
        {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
        {{ macros.setting_button([['global_reset_db_btn', '처리결과 전체 지우기']], left='DB정리' ) }}
      
    {{ macros.m_tab_content_end() }}
    
  </div><!--tab-content-->
</div> <!--전체-->


<script type="text/javascript">
var package_name = 'epg_maker';
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#make_channel_json_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/make_channel_json',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if (data != 'fail' && data != null) {
        //m_modal(data.data)
        $.notify('<strong>채널 : '+ data +'</strong>',{
          type: 'success'
        });
      } else {
        $.notify('<strong>실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#delete_channel_list_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/delete_channel_list',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if (data != 'fail') {
        $.notify('<strong>DB 채널 : '+data+'</strong>',{
          type: 'success'
        });
      } else {
        $.notify('<strong>실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
});



</script>    
{% endblock %}