{% extends "base.html" %}
{% block content %}

<form id="form_search" class="form-inline" style="text-align:left">
  <div class="container-fluid">
    <div class="row show-grid">
      <div class="col-md-12 form-inline">
        <div class="col-md-12 form-inline " style="align-items:left; text-align:left;">
          <div class="col-md-1" style="align-items:left; text-align:left;">
            <select id="result_type" name="result_type" class="form-control form-control-sm">
              <option value="all">전체</option>
              <option value="success">성공</option>
              <option value="fail">실패</option>
              <option value="etc">기타</option>
            </select>
          </div>
          <div class="col-md-9" style="align-items:left; text-align:left;">
            <input id="search_word" name="search_word" class="form-control form-control-sm w-100" type="text" placeholder="검색어" aria-label="Search">
          </div>
          <div class="col-md-2" style="align-items:left; text-align:left;">
            <button id="search" class="btn btn-sm btn-outline-success">검색</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div id='page1'></div>

{{ macros.m_hr_head_top() }}
{{ macros.m_row_start('0') }}
{{ macros.m_col(1,  macros.m_strong('ID')) }}
{{ macros.m_col(2,  macros.m_strong('Time')) }}
{{ macros.m_col(2,  macros.m_strong('Result')) }}
{{ macros.m_col(4,  macros.m_strong('SMI File')) }}
{{ macros.m_col(1,  macros.m_strong('SRT')) }}
{{ macros.m_col(1,  macros.m_strong('Del Lines')) }}
{{ macros.m_col(1,  macros.m_strong('Detail')) }}
{{ macros.m_row_end() }}
{{ macros.m_hr_head_bottom() }}
<div id="list_div"></div>
<div id='page2'></div>

<script type="text/javascript">
var package_name = 'epg_maker';
var current_data = null;

$(document).ready(function(){
  request_search('1');
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1');
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  request_search($(this).data('page'));
});

// 아이템 실행 버튼
$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  for(var i in current_data.list) {
    if (current_data.list[i].id == id) {
      m_modal(current_data.list[i].json)
      break;
    }
  }
});

function request_search(page) {
  var formData = get_formdata('#form_search')
  formData += '&page=' + page;
  $.ajax({
    url: '/' + package_name + '/ajax/filelist',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      current_data = data;
      window.scrollTo(0,0);
      make_list(data.list)
      make_page_html(data.paging)
    }
  });
}  

function make_list(data) {
  str = ''
  for (i in data) {
    str += m_row_start();
    str += m_col(1, data[i].id);
    str += m_col(2, data[i].created_time);

    
    if (data[i].result == 'success') {
      tmp = '성공'
      tmp2 = data[i].smi_file
    } else if (data[i].result == 'fail') { 
      tmp = '<p class="text-danger"><strong>실패</strong></p>'
      tmp2 = '<p class="text-danger"><strong>'+data[i].smi_file+'</strong></p>'
    } else {
      tmp = '<p class="text-warning"><strong>'+data[i].result+'</strong></p>'
      tmp2 = '<p class="text-warning"><strong>'+data[i].smi_file+'</strong></p>'
    }
    str += m_col(2, tmp);
    str += m_col(4, tmp2 );

    str += m_col(1, data[i].json.lang_count);
    if (data[i].json.except_line_count == null) {
      tmp = '-'
    } else {
      tmp = data[i].json.except_line_count
    }
    str += m_col(1, tmp);
   
    tmp = m_button('json_btn', 'JSON', [{'key':'id', 'value':data[i].id}]);
    str += m_col(1, tmp);
    str += m_row_end();
    if (i != data.length -1) str += m_hr();
  }
  document.getElementById("list_div").innerHTML = str;
}


</script>    
{% endblock %}