{% from "menu.html" import menu, left with context %}
{% import "macro.html" as macros %}
<!DOCTYPE html>
<html>
    <head lang="ko">
        {% block head %}
        <title>{{get_web_title()}}</title>
        {% endblock %}
        <meta name="google" value="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        {% set theme = get_theme() %}
        <link href="{{ url_for('static', filename='css/theme/'+theme[0]+'_bootstrap.min.css') }}" rel="stylesheet">                
        <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom10.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sjva_ui2.js') }}"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
        <!-- 토글 -->
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
        <!-- end 토글 -->
        <script type="text/javascript">
          $(document).ready(function(){
            var protocol = window.location.protocol;
            var socket = io.connect(protocol + "//" + document.domain + ":" + location.port + "/framework");
            //var socket = io.connect("http://" + document.domain + ":" + location.port + "/framework", {transports:['websocket']},  {'force new connection': true});
            socket.on('notify', function(data){
              $.notify({
                message : data['msg'],
                url: data['url'],
                target: '_self'
              },{
                type: data['type'],
              });
            });

            socket.on('command_modal_add_text', function(data){
              document.getElementById("command_modal_textarea").innerHTML += data ;
              document.getElementById("command_modal_textarea").scrollTop = document.getElementById("command_modal_textarea").scrollHeight;
            });

            socket.on('command_modal_show', function(data){
              command_modal_show(data)
            });

            socket.on('command_modal_clear', function(data){
              document.getElementById("command_modal_textarea").innerHTML = ""
            });

            


            
          });
        </script>          
        <!--
             <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>          
          .fixed-top-2 { margin-top: 56px; }
          .sticky-offset { top: 1000px; }
          .fixed-top-2 { margin-top: 0px; }          
        -->
        <style type="text/css">
          body { padding-top: {{theme[1]}}px; font-size: .850rem; }
          .table>tbody>tr.collapse>td { background-color:#ecf3f8; }
          .tableRowHover tbody tr:not(.tableRowHoverOff):hover td {
            background-color: #ffff00;
            transition: all 0.01s ease-in-out;
          }
          .loading { position: fixed; left: 45%; top: 50%; background: #00000000; }
          .table > tbody > tr > td { vertical-align: middle; }
          
          .tab-pane {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
          }
          .btn-toolbar { text-align: center; }​
          .nav-tabs { margin-bottom: 0; }
          .navbar-nav li:hover>.dropdown-menu { display: block; }
          .dropdown-toggle::after { display:none; }
          .set-left  { text-align: left; }
          @media (min-width: 768px) {
  .set-left  { text-align: right; }
}


        </style>
        <!--
          .row>div { padding-top: 10px; padding-bottom:10px; }
          .row { align-items: center;}
          .row>div:nth-child(odd) { align-items: right; text-align: right; }
          .row>div:nth-child(even) { align-items: left; text-align: left; }
        -->
        <script type="text/javascript" language="javascript">
          $(document).ready(function(){
            $('.loading').hide();
            //$('#modal_loading').hide();
          })
          .ajaxStart(function(){
            $('.loading').show();
            //$('#modal_loading').show();
          })
          .ajaxStop(function(){
            $('.loading').hide();
            //$('#modal_loading').hide();
          });
          
        </script> 
    </head>
    <body class="body ">
      <!-- Modal -->
      <div class="modal fade" id="large_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal_title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modal_body" style="word-break:break-all;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="normal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="normal_modal_title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="normal_modal_body" style="word-break:break-all;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
        </div>
      </div>
      <div id="confirm_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="confirm_title" class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="confirm_body" class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button id="confirm_button" type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
              <button id="confirm_cancel_button" type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!--command modal-->
      {{ macros.m_modal_start('command_modal', '', 'modal-lg') }}
        <div>
          <textarea id="command_modal_textarea" class="col-md-12" rows="30" disabled style="visibility:visible"></textarea>
        </div>
      {{ macros.m_modal_end() }}
      <!--command modal end-->
      <!-- Modal end -->

      
      {{ menu() }}
      
      <!--<nav class="navbar " role="navigation"> width가 메뉴만큼-->
        {{ left() }}
      <!--</nav>-->
      <main role="main" class="container">
        <div class="d-inline-block"></div>
        <div>
          {% block content %}{% endblock %}
        </div>
      </main>
      <div class="loading" id="loading">
        <img src="/static/img/loading.gif" />
      </div>
    </body>
</html>

<script type="text/javascript">
$(document).ready(function(){
  $("body").on('click', '#open_url_btn', function(e) {
    e.preventDefault();
    url = $(this).data('url')
    window.open(url, "_blank");
  });
  
});

///////////////////////////////////////////////////////////////////////////////
// 공용 버튼
///////////////////////////////////////////////////////////////////////////////

$("body").on('click', '#global_link_btn', function(e) {
  e.preventDefault();
  url = $(this).data('url')
  window.open(url, "_blank");
});

  
$("body").on('click', '#global_cache_confirm_btn', function(e){
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud/ajax/hash',
    type: "POST", 
    cache: false,
    data:{hash:hash},
    dataType: "json",
    success: function (data) {
      if (data == 'true') {
        $.notify('<strong>캐쉬 되어 있습니다.</strong>', {
          type: 'success'
        });
      } else if (data == 'false') {
        $.notify('<strong>캐쉬 되어 있지 않습니다.</strong>', {
          type: 'warning'
        });
      } else if (data == 'fail') {
        $.notify('<strong>캐쉬 확인 실패</strong>', {
          type: 'warning'
        });
      }
    }
  });
  //$(location).attr('href', '/offcloud/cache?magnet=' + hash)
});
  
$("body").on('click', '#global_add_remote_btn', function(e) {
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud/ajax/cache_download_bot',
    type: "POST", 
    cache: false,
    data: {hash:hash},
    dataType: "json",
    success: function (data) {
      m_modal(data)
    }
  });
});
  
// 사용 on / off
$('#global_scheduler').change(function() {
  var ret = $(this).prop('checked');
  $.ajax({
    url: '/'+package_name+'/ajax/scheduler',
    type: "POST", 
    cache: false,
    data: {scheduler : ret},
    dataType: "json",
    success: function (list) {
    }
  });
});

//설정 저장
$("#global_setting_save_btn").click(function(e) {
  e.preventDefault();
  var formData = get_formdata('#setting');
  console.log(package_name)
  $.ajax({
    url: '/'+package_name+'/ajax/setting_save',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (ret) {
      if (ret) {
        $.notify('<strong>설정을 저장하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>설정 저장에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});

$("#global_one_execute_btn").click(function(e) {
//$("body").on('click', '#one_execute_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/one_execute',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (ret) {
      if (ret=='scheduler' || ret=='thread') {
        $.notify('<strong>작업을 시작하였습니다. ('+ret+')</strong>', {
          type: 'success'
        });
      } else if (ret == 'is_running') {
        $.notify('<strong>작업중입니다.</strong>', {
          type: 'warning'
        });
      } else {
        $.notify('<strong>작업 시작에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});
  
  
$("body").on('click', '#global_reset_db_btn', function(e){
  e.preventDefault();
  document.getElementById("confirm_title").innerHTML = "DB 삭제";
  document.getElementById("confirm_body").innerHTML = "전체 목록을 삭제 하시겠습니까?";
  $('#confirm_button').attr('onclick', "global_db_delete();");
  $("#confirm_modal").modal();
  return;
});
  
function global_db_delete() {
  $.ajax({
    url: '/' + package_name + '/ajax/reset_db',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>삭제하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>삭제에 실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
}




function command_modal_show(title) {
  ClientHeight = window.innerHeight
  document.getElementById("command_modal_title").innerHTML = title
  $("#command_modal").height(ClientHeight-100);
  $("#command_modal_textarea").height(ClientHeight-380);
  $("#command_modal").modal();
}


function FormatNumberLength(num, length) {
  var r = "" + num;
  while (r.length < length) {
      r = "0" + r;
  }
  return r;
}



// 토렌트 프로그램에 다운로드 추가할 결과를 보여주는
function show_result_add_download(data) {
  try {
    program = '토렌트'
    if (data.default_torrent_program == '0') {
      program = '트랜스미션에 토렌트'
    } else if (data.default_torrent_program == '1') {
      program = '다운로드스테이션에 토렌트'
    }
  }
  catch {
  }
  if (data.ret == 'success') {
    $.notify({message:'<strong>'+ program +'를 추가하였습니다.</strong><br>클릭시 다운로드 상태창으로 이동', url:'/downloader/status',
      target: '_self'}, {
      type: 'success',
    });
  } else if (data.ret == 'success2') {
    $.notify('<strong>일반 파일 다운로드를 시작하였습니다.</strong>', {
      type: 'success'
    });
  } else if (data.ret == 'fail') {
    $.notify('<strong>'+ program +' 추가에 실패하였습니다.</strong>', {
      type: 'warning'
    });
  } else {
    $.notify('<strong>'+ program +' 추가 에러<br>'+data.error+'</strong>', {
      type: 'warning'
    });
  }
}

function humanFileSize(bytes) {
    var thresh = 1024;
    if(Math.abs(bytes) < thresh) {
        return bytes + ' B';
    }
    var units = ['KB','MB','GB','TB','PB','EB','ZB','YB']
    var u = -1;
    do {
        bytes /= thresh;
        ++u;
    } while(Math.abs(bytes) >= thresh && u < units.length - 1);
    return bytes.toFixed(1)+' '+units[u];
}



</script>