{% from "menu.html" import menu, left, menu_sub with context %}
{% import "macro.html" as macros %}
<!DOCTYPE html>
<html>
  <head lang="ko">
    {% block head %}
    <title>{{get_web_title()}}</title>
    {% endblock %}
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% set theme = get_theme() %}
    <link href="{{ url_for('static', filename='css/theme/'+theme[0]+'_bootstrap.min.css') }}" rel="stylesheet">                
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/balloon-css/balloon.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom10.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sjva_ui13.js') }}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <!-- 토글 -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>


    <!-- end 토글 -->
    
    <style type="text/css">
      body { padding-top: {{theme[1]}}px; font-size: .850rem; }
      .table > tbody > tr.collapse > td {
        background-color: #009fff0d !important;
      }
      .tableRowHover tbody tr:not(.tableRowHoverOff):hover td {
        background-color: #ffff0080 !important;
      }
      .loading { position: fixed; left: 45%; top: 50%; background: #00000000; }
      .table > tbody > tr > td { vertical-align: middle; }
      
      .tab-pane {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
      }
      .btn-toolbar { text-align: center; }​
      .nav-tabs { margin-bottom: 0; }
      .navbar-nav li:hover>.dropdown-menu { display: block; }
      .dropdown-toggle::after { display:none; }
      .set-left  { text-align: left; }
      @media (min-width: 768px) {
        .set-left  { text-align: right; }
      }
      textarea {
        font-family: Courier
      }
</style>
    </style>
  </head>
  <body class="body ">
    <!-- Modal -->
    <div class="modal fade" id="large_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal_title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" id="modal_body" style="word-break:break-all;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="normal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="normal_modal_title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" id="normal_modal_body" style="word-break:break-all;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>
    <div id="confirm_modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="confirm_title" class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="confirm_body" class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button id="confirm_button" type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
            <button id="confirm_cancel_button" type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 경로 선택 모달 -->
    <div class="modal fade" id="select_local_file_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="select_local_file_modal_title">경로 선택</h4>
          </div>
          <div class="modal-body" id="modal_body" style="word-break: break-all;">
            {{ macros.setting_input_text_and_buttons('select_local_file_modal_path', 'Path',[['global_select_local_file_load_btn', 'Load']], desc=['입력한 경로를 불러옵니다.'], value='/') }}
            <input type="hidden" id="select_local_file_modal_only_dir" value="true" />
            <input type="hidden" id="select_local_file_modal_callback" value="" />
            <div class="list-group" id="select_local_file_modal_list_group">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id='select_local_file_modal_confirm_btn' class="btn btn-success" data-dismiss="modal">선택
            </button>
            <button type="button" id='select_local_file_modal_cancel_btn' class="btn btn-default" data-dismiss="modal">닫기
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--command modal-->
    {{ macros.m_modal_start('command_modal', '', 'modal-lg') }}
      <div>
        <textarea id="command_modal_textarea" class="col-md-12" rows="30" disabled style="visibility:visible"></textarea>
      </div>
    {{ macros.m_modal_end() }}
    <!--command modal end-->
    <!-- Modal end -->

    
    {{ menu() }}
    
    <!--<nav class="navbar " role="navigation"> width가 메뉴만큼-->
    {{ left() }}
    {% block wide_menu %}{% endblock %}
    <!--</nav>-->
    <main id="main_container" role="main" class="container">

      <div class="d-inline-block"></div>
      {{ menu_sub() }}
      <div>
        {% block content %}{% endblock %}
      </div>
    </main>
    <div class="loading" id="loading">
      <img src="/static/img/loading.gif" />
    </div>
  </body>
</html>

<script type="text/javascript">
/////////////////////////////////////////////////////////////////////////////////

$(document).ready(function(){
  var protocol = window.location.protocol;
  var socket = io.connect(protocol + "//" + document.domain + ":" + location.port + "/framework");
  //var socket = io.connect("http://" + document.domain + ":" + location.port + "/framework", {transports:['websocket']},  {'force new connection': true});
  socket.on('notify', function(data){
    $.notify({
      message : data['msg'],
      url: data['url'],
      target: '_self'
    },{
      type: data['type'],
    });
  });

  socket.on('command_modal_add_text', function(data){
    document.getElementById("command_modal_textarea").innerHTML += data ;
    document.getElementById("command_modal_textarea").scrollTop = document.getElementById("command_modal_textarea").scrollHeight;
  });

  socket.on('command_modal_show', function(data){
    command_modal_show(data)
  });

  socket.on('command_modal_clear', function(data){
    document.getElementById("command_modal_textarea").innerHTML = ""
  });

  socket.on('loading_hide', function(data){
    $('#loading').hide();
  });

});

$(document).ready(function(){
  $('.loading').hide();
  //$('#modal_loading').hide();
})
.ajaxStart(function(){
  $('.loading').show();
  //$('#modal_loading').show();
})
.ajaxStop(function(){
  $('.loading').hide();
  //$('#modal_loading').hide();
});

$(document).ready(function(){
  $("body").on('click', '#open_url_btn', function(e) {
    e.preventDefault();
    url = $(this).data('url')
    window.open(url, "_blank");
  });
  
});

///////////////////////////////////////////////////////////////////////////////
// 공용 버튼
///////////////////////////////////////////////////////////////////////////////

$("body").on('click', '#global_link_btn', function(e) {
  e.preventDefault();
  url = $(this).data('url')
  window.open(url, "_blank");
});


//  global_cache_confirm_btn => global_offcloud_cache_confirm_btn
$("body").on('click', '#global_offcloud_cache_confirm_btn', function(e){
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud2/ajax/hash',
    type: "POST", 
    cache: false,
    data:{hash:hash},
    dataType: "json",
    success: function (data) {
      if (data == 'true') {
        $.notify('<strong>캐쉬 되어 있습니다.</strong>', {
          type: 'success'
        });
      } else if (data == 'false') {
        $.notify('<strong>캐쉬 되어 있지 않습니다.</strong>', {
          type: 'warning'
        });
      } else if (data == 'fail') {
        $.notify('<strong>캐쉬 확인 실패</strong>', {
          type: 'warning'
        });
      }
    }
  });
  //$(location).attr('href', '/offcloud/cache?magnet=' + hash)
});

//global_add_remote_btn -> global_offcloud_add_btn
$("body").on('click', '#global_offcloud_add_btn', function(e) {
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/offcloud2/ajax/add_remote',
    type: "POST", 
    cache: false,
    data: {hash:hash},
    dataType: "json",
    success: function (data) {
      m_modal(data)
    }
  });
});


$("body").on('click', '#global_downloader_add_btn', function(e){
  e.preventDefault();
  download_url = $(this).data('hash');
  $.ajax({
    url: '/downloader/ajax/add_download',
    type: "POST", 
    cache: false,
    data: {download_url:download_url},
    dataType: "json",
    success: function (data) {
      show_result_add_download(data);
    }
  });
});


// 사용 on / off
$('#global_scheduler').change(function() {
  var ret = $(this).prop('checked');
  $.ajax({
    url: '/'+package_name+'/ajax/scheduler',
    type: "POST", 
    cache: false,
    data: {scheduler : ret},
    dataType: "json",
    success: function (list) {
    }
  });
});

$('#global_scheduler_sub').change(function() {
  var ret = $(this).prop('checked');
  $.ajax({
    url: '/'+package_name+'/ajax/scheduler',
    type: "POST", 
    cache: false,
    data: {scheduler : ret, sub:sub},
    dataType: "json",
    success: function (list) {
    }
  });
});

//설정 저장
$("#global_setting_save_btn").click(function(e) {
  e.preventDefault();
  var formData = get_formdata('#setting');
  $.ajax({
    url: '/'+package_name+'/ajax/setting_save',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (ret) {
      if (ret) {
        $.notify('<strong>설정을 저장하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>설정 저장에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});

$("#global_one_execute_btn").click(function(e) {
//$("body").on('click', '#one_execute_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/one_execute',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (ret) {
      if (ret=='scheduler' || ret=='thread') {
        $.notify('<strong>작업을 시작하였습니다. ('+ret+')</strong>', {
          type: 'success'
        });
      } else if (ret == 'is_running') {
        $.notify('<strong>작업중입니다.</strong>', {
          type: 'warning'
        });
      } else {
        $.notify('<strong>작업 시작에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});
  
$("#global_one_execute_sub_btn").click(function(e) {
//$("body").on('click', '#one_execute_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/one_execute',
    type: "POST", 
    cache: false,
    data: {sub:sub},
    dataType: "json",
    success: function (ret) {
      if (ret=='scheduler' || ret=='thread') {
        $.notify('<strong>작업을 시작하였습니다. ('+ret+')</strong>', {
          type: 'success'
        });
      } else if (ret == 'is_running') {
        $.notify('<strong>작업중입니다.</strong>', {
          type: 'warning'
        });
      } else {
        $.notify('<strong>작업 시작에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});
  
$("body").on('click', '#global_reset_db_btn', function(e){
  e.preventDefault();
  document.getElementById("confirm_title").innerHTML = "DB 삭제";
  document.getElementById("confirm_body").innerHTML = "전체 목록을 삭제 하시겠습니까?";
  $('#confirm_button').attr('onclick', "global_db_delete();");
  $("#confirm_modal").modal();
  return;
});
  
function global_db_delete() {
  $.ajax({
    url: '/' + package_name + '/ajax/reset_db',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>삭제하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>삭제에 실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
}

$("body").on('click', '#global_reset_db_sub_btn', function(e){
  e.preventDefault();
  document.getElementById("confirm_title").innerHTML = "DB 삭제";
  document.getElementById("confirm_body").innerHTML = "전체 목록을 삭제 하시겠습니까?";
  $('#confirm_button').attr('onclick', "global_db_delete_sub();");
  $("#confirm_modal").modal();
  return;
});
  
function global_db_delete_sub() {
  $.ajax({
    url: '/' + package_name + '/ajax/reset_db',
    type: "POST", 
    cache: false,
    data: {sub:sub},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>삭제하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>삭제에 실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
}

$("body").on('click', '#global_reset_db_sub2_btn', function(e){
  e.preventDefault();
  document.getElementById("confirm_title").innerHTML = "DB 삭제";
  document.getElementById("confirm_body").innerHTML = "전체 목록을 삭제 하시겠습니까?";
  $('#confirm_button').attr('onclick', "global_db_delete_sub2();");
  $("#confirm_modal").modal();
  return;
});
  
function global_db_delete_sub2() {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/reset_db',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>삭제하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>삭제에 실패하였습니다.</strong>',{
          type: 'warning'
        });
      }
    }
  });
}





function command_modal_show(title) {
  ClientHeight = window.innerHeight
  document.getElementById("command_modal_title").innerHTML = title
  $("#command_modal").height(ClientHeight-100);
  $("#command_modal_textarea").height(ClientHeight-380);
  $("#command_modal").modal();
}


function FormatNumberLength(num, length) {
  var r = "" + num;
  while (r.length < length) {
      r = "0" + r;
  }
  return r;
}



// 토렌트 프로그램에 다운로드 추가할 결과를 보여주는
function show_result_add_download(data) {
  try {
    sub = ''
    program = '토렌트'
    if (data.default_torrent_program == '0') {
      program = '트랜스미션에 토렌트'
      sub = 'transmission'
    } else if (data.default_torrent_program == '1') {
      program = '다운로드스테이션에 토렌트'
      sub = 'downloadstation'
    } else if (data.default_torrent_program == '2') {
      program = '큐빗토렌트다에 토렌트'
      sub = 'qbittorrent'
    } else if (data.default_torrent_program == '3') {
      program = 'aria2에 토렌트'
      sub = 'aria2'
    }
  }
  catch {
  }
  if (data.ret == 'success') {
    $.notify({message:'<strong>'+ program +'를 추가하였습니다.</strong><br>클릭시 다운로드 상태창으로 이동', url:'/downloader/'+sub+'/status',
      target: '_self'}, {
      type: 'success',
    });
  } else if (data.ret == 'success2') {
    $.notify('<strong>일반 파일 다운로드를 시작하였습니다.</strong>', {
      type: 'success'
    });
  } else if (data.ret == 'fail') {
    $.notify('<strong>'+ program +' 추가에 실패하였습니다.</strong>', {
      type: 'warning'
    });
  } else {
    $.notify('<strong>'+ program +' 추가 에러<br>'+data.error+'</strong>', {
      type: 'warning'
    });
  }
}

function humanFileSize(bytes) {
    var thresh = 1024;
    if(Math.abs(bytes) < thresh) {
        return bytes + ' B';
    }
    var units = ['KB','MB','GB','TB','PB','EB','ZB','YB']
    var u = -1;
    do {
        bytes /= thresh;
        ++u;
    } while(Math.abs(bytes) >= thresh && u < units.length - 1);
    return bytes.toFixed(1)+' '+units[u];
}


$("body").on('click', '#global_torrent_info_btn', function(e) {
  e.preventDefault();
  hash = $(this).data('hash');
  $.ajax({
    url: '/torrent_info/ajax/torrent_info',
    type: "POST", 
    cache: false,
    data: {hash:hash},
    dataType: "json",
    success: function (data) {
      m_modal(data, "토렌트 정보")
    }
  });
});

function get_torrent_program_name(p) {
  if (p == '0') return  '트랜스미션'
  else if (p == '1') return '다운로드스테이션'
  else if (p == '2') return '큐빗토렌트'
  else if (p == '3') return 'aria2'
}

function m_button2(id, text, data, outline_color) {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-'+outline_color+'" '
  for ( var i in data) {
    str += ' data-' + data[i].key + '="' + data[i].value+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

function global_sub_request_search(page, move_top=true) {
  var formData = get_formdata('#form_search')
  formData += '&page=' + page;
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/web_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      current_data = data;
      if (move_top)
        window.scrollTo(0,0);
      make_list(data.list)
      make_page_html(data.paging)
    }
  });
}


$("body").on('click', '#global_json_btn', function(e){
  e.preventDefault();
  var id = $(this).data('id');
  for (i in current_data.list) {
    if (current_data.list[i].id == id) {
      m_modal(current_data.list[i])
    }
  }
});

$("body").on('click', '#global_reset_btn', function(e){
  e.preventDefault();
  document.getElementById("order").value = 'desc';
  document.getElementById("option").value = 'all';
  document.getElementById("search_word").value = '';
  global_sub_request_search('1')
});

$("body").on('click', '#global_remove_btn', function(e) {
  e.preventDefault();
  id = $(this).data('id');
  $.ajax({
    url: '/'+package_name+'/ajax/'+sub+ '/db_remove',
    type: "POST", 
    cache: false,
    data: {id:id},
    dataType: "json",
    success: function (data) {
      if (data) {
        $.notify('<strong>삭제되었습니다.</strong>', {
          type: 'success'
        });
        global_sub_request_search(current_data.paging.current_page, false)
      } else {
        $.notify('<strong>삭제 실패</strong>', {
          type: 'warning'
        });
      }
    }
  });
});

function notify(msg, type) {
  $.notify('<strong>' + msg + '</strong>', {type: type});
}


var select_local_file_modal_callback = null;

function m_select_local_file_modal(title, init_path, only_dir, func) {
  if (init_path == '' || init_path == null)
    init_path = '/';
  document.getElementById("select_local_file_modal_title").innerHTML = title;
  document.getElementById("select_local_file_modal_path").value = init_path;
  document.getElementById("select_local_file_modal_only_dir").value = only_dir;
  select_local_file_modal_callback = func;
  $("#select_local_file_modal").modal();
  listdir(init_path, only_dir);
}

$("body").on('click', '#global_select_local_file_load_btn', function(e) {
  e.preventDefault();
  let current_path = $('#select_local_file_modal_path').val().trim();
  only_dir = $('#select_local_file_modal_only_dir').val().trim();
});

$("body").on('click', '#select_local_file_modal_confirm_btn', function(e) {
  e.preventDefault();
  if (select_local_file_modal_callback != null)
    select_local_file_modal_callback($('#select_local_file_modal_path').val().trim());
  $("#select_local_file_modal").modal('toggle');
});


let listdir = (path = '/', only_dir = true) => {
  $.ajax({
      url: `/global/ajax/listdir`,
      type: 'POST',
      cache: false,
      data: {
          path: path,
          only_dir : only_dir
      },
      dataType: 'json'
  }).done((datas) => {
      if (datas.length == 0) {
        return false;
      }
      let new_obj = ``;
      const path_spliter = (path.indexOf('/')>=0)?'/':'\\';
      $('#select_local_file_modal_list_group').empty();
      for (let dt of datas) {
          new_obj += `<a href='#' class="list-group-item list-group-item-action item_path">${dt}</a>`;
      }
      $('#select_local_file_modal_list_group').append(new_obj);
      $('.item_path').off('click').click((evt) => {
          let new_path = '';
          if ($(evt.currentTarget).text() === '..'){
              let split_path = '';
              split_path = path.split(path_spliter);
              split_path.pop();
              new_path = split_path.join(path_spliter);
              if (new_path.length === 0){
                  new_path = path_spliter
              }
          } else {
              new_path = (path !== path_spliter) ? path + path_spliter + $(evt.currentTarget).text() : path + $(evt.currentTarget).text();
          }
          $('#select_local_file_modal_path').val(new_path);
          listdir(new_path, only_dir);
      });
  }).fail((datas) => {
      $.notify('<strong>경로 읽기 실패</strong><br/>${add_path}', {type: 'danger'});
  });
  return false;
}

function global_relay_test(remote) {
  $.ajax({
    url: '/' + 'gd_share_client' + '/ajax/'+'base'+'/relay_test',
    type: "POST", 
    cache: false,
    data: {remote:remote},
    dataType: "json",
    success: function (data) {
      if (data.ret == 'success') {
        $.notify('<strong>릴레이 공유가 가능합니다.<strong>', {type: 'success'});
      }else {
        $.notify('<strong>설정이 잘못 되어 있습니다.</strong>', {type: 'warning'});
      }
    }
  });
}       

function global_send_command(command, data={}) {
  data['command'] = command;
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/command',
    type: "POST", 
    cache: false,
    data:data,
    dataType: "json",
    success: function (data) {
      notify(data['msg'], data['ret']);
    }
  });
}

function shutdown_confirm() {
  document.getElementById("confirm_title").innerHTML = "종료 확인";
  document.getElementById("confirm_body").innerHTML = "종료 하시겠습니까?";
  $('#confirm_button').attr('onclick', 'window.location.href = "/system/shutdown";');
  $("#confirm_modal").modal();
}
</script>